@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --border: 240 10% 90%; 
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --border: 0 0% 60%; 
  }
}

@layer utilities {
  .bg-background {
    background-color: hsl(var(--background));
  }

  .text-foreground {
    color: hsl(var(--foreground));
  }

  .border-custom {
    border-color: hsl(var(--border));
  }
}

@layer base {
  * {
    border-color: hsl(var(--border)); 
  }

  body {
    @apply bg-background text-foreground;
  }
}
